@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap');

*{   
    font-family: 'Poppins', 'Roboto', sans-serif;
    padding: 0%;
    margin: 0%;
   /*  color: #1f3e72; */
}

nav {
    height: 120px;
    display: flex;
    align-items: center;    
    padding-left: 20px;
    justify-content: space-between;
    
}

nav::before{
    content: "";
    position: absolute;
    right: 0;
    z-index: 0;
    display: block;
    height: 120px;
    width: 714px;
    background: #e6f4fc
}

.logo img{
    width: 200px;
}

.navegacion{
    z-index: 20;
    display: flex;
    width: 900px;
    justify-content: space-around;
    
}

.navegacion .enlace{
    padding: 25px 20px;
}

.btn{
    color: #6d7b93;
}

.btn-submit, .btn:hover{
    background: #2949c7;
    border-radius: 5%;
    padding: 25px 20px;
    color: #ffffff;
    box-shadow:0px 7px 7px #ccd5f6;
    -webkit-border-radius:5%;
    -moz-border-radius:5%;
    -ms-border-radius:5%;
    -o-border-radius:5%;
}

.nav .navegacion .enlace a:hover{
    color: #fff;
}

.art-principal::before{
    content: url(img/triangulos-bg.png);
    width: 15px;    
}

.calendario .btn-submit .blanco{
    color: #fff;
}

.articulo-1{
    display: flex;
    padding-right: 0%;
}

.parrafo-1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    padding: 30px;
}

.articulo-1 .parrafo-1 .text{
    line-height: 1.5em;
    margin-bottom: 10px;

}

p{
    color: #6d7b93;
}

.parrafo-1 h1{
    width: 70%;
    margin: 2rem 2rem 2rem 0;
    font-size:46px;
    color: #1f3e72;
}

.label-group{
margin-top: 15px;
width: 60%;
display: flex;
justify-content:space-around;
}

.etiquetas span{
    font-size: 14px;
    position: relative;
    bottom: 15px;
}

.icons1{
    width: 20px;
    margin: 0px 10px;
    padding: 10px;
    border-radius: 5px;
    background: #fffbea;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.image1{       
    width: 50%;
    flex-shrink: 0;
}

.image1 img{   
    max-width: 800px;
    width: 100%;
}

.icons2{
    width: 20px;
    margin: 0px 10px;
    padding: 10px;
    border-radius: 5px;
    background: #f1f5ff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.head-calendario{
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
    flex-grow: 1;
}

.head-calendario .etiquetas{
    justify-self: center;    
}

.head-calendario .etiquetas span{
    font-size: 20px;
    position: relative;
    bottom: 10px;
}

.calendario{
    /* background-color: #6d7b93; */
    position: relative;
    background: #fff;
    margin-top: -160px;
    margin-bottom: 200px;
    margin-left: 20px;
    /* z-index: 50; */
    width: 800px;
    display: flex; 
    justify-content: space-between;
    padding: 25px 15px;
    box-shadow: 5px 15px 30px rgba(121, 150, 200, .7);
}

.calendario .tarjeta>span{
margin-left: 50px;
font-size: 20px;
font-weight: 700;
}

.marcas{
    margin: 50px 20px;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.marcas>img{
    height: 100px;
}

.contenedor .text{
    padding:40px 0px 0px 40px;
    width: 35%;
}

.contenedor h2{
    font-size: 2em;
    margin-bottom: 1em;
}

.contenedor p{
    line-height: 1.8em;
}

.contenedor .card-container{
    display: flex;
    justify-content: space-between;
    margin: 40px 20px;
    padding: 0px 40px;
}

.contenedor .card{
    border: solid 1px rgba(147, 180, 238, 0.1);
    padding: 25px;
    border-radius: 5px;
    width: 20%;
    margin: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .1);
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}

.contenedor .card h3{
    line-height: 1.5em;
    margin: 10px 0px;
}

.contenedor .card-container .card .bg-icon{
    padding: 10px;
    margin: 0%;
    width: 35px;
    border-radius: 5px;
    background: #f1f5ff;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}

.preparaciones .image1{
    width: 45%;
}

.preparaciones .contenedor .extendido{
    width: 80%;
    padding: 0%;
}

.contenedor .extendido p{
    margin-bottom: 30px;
}

.desplegable .options .bg-icon{ 
    padding: 5px;
    margin: 0%;
    width: 20px;
    border-radius: 5px;
    background: #f1f5ff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.contenedor .desplegable .options .label{    
    display: inline-block;
    position: relative;
    margin: 0px 20px;
    bottom: 8px;
    height: 20px;    
}

.contenedor .desplegable .options p{
    font-size: 12px;
    line-height: 1.2rem;
    padding-left: 10%;
}

.contenedor .desplegable .options .btn-desplegable{
    position: absolute;
    padding: 3px;
    width: 10px;
    margin: 0%;
    border-radius: 2px;
    background: #f1f5ff;
    top: 15px;
    right: 15px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.contenedor .desplegable .options{
    padding: 10px 15px; 
    width: 70%;    
    border: solid 1px rgba(204, 213, 246, 0.2);
    border-radius: 5px;    
    background: #fff;
    position: relative;
    margin: 25px 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.contacto{
    margin: 50px 0px;
}

.contact-container{
    padding: 0px 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.contact-container .contact-cards{
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 5%;
    border: solid 2px rgba(172, 172, 172, 0.1);
    /*padding: 20px;
    */margin: 15px 0px;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

.contact-cards .contact-text{
    display: inline-block;
    width: 50%;
    margin: 25px 0px;
}

.contact-cards .contact-text span{
    font-size: 14px;
    color: #6d7b93;
}


.btn-contacto{
    display: inline-block;
    width: 60%;
    background: #f1f5ff;
    color: #2949c7;
    text-decoration: none;
    text-align: center;
    margin: 20px 0px;
    border-radius: 5%;
    padding: 25px 20px;   
    -webkit-border-radius:5%;
    -moz-border-radius:5%;
    -ms-border-radius:5%;
    -o-border-radius:5%;    
}

.contact-icon{
    width: 30px;
}

.espace{
    background: #fff;
    height: 100px;
}

footer{
    height: 230px;
    padding: 70px;
    background: #f1f5ff;
}

footer .secciones{    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 70px;
}

footer .secciones .fundation{
    width: 17%;
}

footer .secciones .fundation h3{
    color: #1f3e72;
}

footer .secciones .fundation span{
    color: #6d7b93;
    display: block;
    line-height: 3em;
}

.secciones .fundation p{
    line-height: 2em;
}

footer .terminos{
    display: flex;
    justify-content: space-between;    
}

footer .terminos span{
    color: #6d7b93;
    font-size: 14px;
}

footer .secciones .fundation .logo-footer{
    width: 80%;
}

footer .terminos .span-espace{
    width: 400px;
}